/* 全站共用基礎設定 */
* {
    /* 元素的大小 計算包含到邊框(border) */
    box-sizing: border-box;
    font-size: 14px;
}

/* 重設所有常用的標籤的margin & padding為0  reset css */
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article,
html,
body,
nav,
header,
main,
footer,
aside,
div {
    /* 元素之間的距離 */
    margin: 0;
    /* 留白 */
    padding: 0;
}
