header {
    margin: 20 auto;
}

.lecture {
    float: left;
    width: calc(798px / 3);
    border: 2px solid yellow;
    padding: 10px;
}

.lecture img {
    width: 100%
}

/* 設定容器大小 */
.container {
    width: 800px;
    margin: 0 auto;
    border: 1px solid blue;
}
